body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, #E6E4E4 , white);
}

h1 {
    /*text-transform: uppercase;*/
    font-family: 'slabo_27pxregular', 'Times New Roman';
    font-weight: normal;
    color: white;
    font-size: 58px;
    letter-spacing: 15px;
    text-shadow: 1px 1px white;
}

a {
    text-decoration: none;
    /*color: white;
    font-family: Helvetica, sans-serif*/
}


#meny {
    height: 300px;
    background-color: #302E2E;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
}

.menyInnehåll {
    width: 100%;
}

#content {
    width: 960px;
    margin: auto;
    height: 600px;
    display: flex;
    align-items: center;
}

.vadJagKan {
    font-family: 'Yantramanav';
    font-size: 20px;
    text-align: center;

}

#kompetenser {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Yantramanav';
    font-weight: normal;
    font-size: 14px;
}

#pil {
    opacity: 0.8;
    margin: 5px;
}

.sträck {
    height: 100px;
    width: 1px;
    background-color: #A19D9D;
    opacity: 0.2;
    border-radius: 50%;
}

.bildPåMig {
    border-radius: 50%;
}

.textOmMig {
    padding-left: 70px;
    max-width: 560px;
}

.omMig {
    line-height: 200%;
    color: black;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 38px;
    font-weight: normal;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

/*p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 200%;
    
}*/


#header {
    height: 800px;
    background-image: url(./images/keyboard2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    opacity: 0.6;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 960px;
    margin: auto;
}

.minaProjekt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 960px;
    margin: 100px auto;
    
}

#footer {
    height: 300px;
    background-color: #302E2E;
    color: #FFF;
    text-transform: uppercase;
    width: 100%;
    font-family: 'Yantramanav';
    font-weight: normal;
    font-size: 14px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top:80px;

}


.bildProjekt:hover {
    opacity: 0.5;
}

.bildProjekt {
    margin: 20px;
}

#cesoir {
    background-image: url(./images/cesoir2.png);
    width: 400px; 
    height: 283px;
    /*display: flex;
    align-items: flex-end;*/
    border-radius: 1%;
}

#vegokoket {
    background-image: url(./images/vegokoket2.png);
    width: 400px; 
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
    

}

#cesoirText, #vegokoketText, #vrinkText, #storSkogenText, #todoText, #webshopText {
    color: black;
    font-size: 14px;
    font-family: 'slabo_27pxregular', 'Times New Roman';
    /*background:#302E2E;*/
    text-align: center;
    width: 400px;
    margin: auto;
    height: 100px;
}

#storSkogen {
    background-image: url(./images/storskogen2.png);
    width: 400px;
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

#vrink {
    background-image: url(./images/vrink2.png);
    width: 400px;
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

#todo {
    background-image: url(./images/todo2.png);
    width: 400px;
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
}

#webshop {
    background-image: url(./images/webshop.png);
    width: 400px;
    height: 283px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1%;
    background-size: cover;
}

#länk1 , #länk2 {
    color: #FFF;
    font-size: 42px;
    padding: 10px;
}

.rubrik {
    font-family: 'slabo_27pxregular', 'Times New Roman';
    font-size: 20px;
}

#portfolio {
    /*text-align: center;
    font-family: 'slabo_27pxregular', 'Times New Roman';
    font-size: 42px;*/
    /*margin-top: 80px;
    margin-bottom: 60px;*/
}

.läst:hover {
color: lightgray;
font-size: 16px;
}

.länk {
   color: white;
}

.kontakta {
    color: black;
    font-weight: bold;
}

.minalänkar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
}

.portfolioRubrik {
    font-size: 24px;
    font-family: 'slabo_27pxregular', 'Times New Roman';
    text-align: center;
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 38px;
        letter-spacing: 7px;
    }

    #header {
        width: 100%;
        height: 225px;
        background-image: url(./images/keyboardmobil.jpg);
    }

    #content {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
    }

    .textOmMig {
        padding-left: 0px;
        max-width: 325px;        
    }

    .bildPåMig {
        border-radius: 50%;
        width: 200px;
        margin: 10px;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    #cesoir, #webshop, #vrink, #todo, #storSkogen, #vegokoket {
        width: 300px; 
        height: 283px;
    }

    .bildProjekt {
        margin: 0px;
    }
    .rad {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 465px;
        align-items: center;
    }

    #cesoirText, #vegokoketText, #vrinkText, #storSkogenText, #todoText, #webshopText {
        color: black;
        font-size: 14px;
        font-family: 'slabo_27pxregular', 'Times New Roman';
        /*background:#302E2E;*/
        height: 100px;
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        }

    #portfolio {
        width: 100%;
        margin-top: 10px;
    }

    body {
        margin: 0px;
        padding: 0px;
        background: white;
        width: 100%;
        height: auto;
        background-attachment: fixed;
    }

    #footer {
        padding-left: 0px;
        padding-right: 0px;
    }

    #wrapper{
        width: 100%;
    }

    #länk1, #länk2, {
        font-size: 36px;
        margin: 5px;
    }
    
    .länkar {
        flex-direction: column;
    }

    #kompetenser {
        display: flex;
        height: 210px;
        flex-direction: column;
        width: 100%;
        margin-top:0px;
        padding-bottom: 20px;    }
    
    .sträck {
        height: 0px;
        width: 0px;
    }
    
    #meny {
        height: 320px;
    }
    
    .minalänkar {
        display: flex;
        flex-direction: column;
        width: 80px;
    }

    #footer {
    justify-content: space-between;
    padding-left: 15px;
    height: 200px;
    margin-top: 0px;
    }
}